@font-face{
    font-family: MarcellusSC;
    src: url("/static/MarcellusSC-Regular.ttf");
}

* {
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
    background-image: url("/static/background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logoImage{
    width: 60px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.row{
    width: 1000px;
    height: 550px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.side-image{
    background-image: url("/static/indexBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

img{
    position: sticky;
    width: 350px;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: MarcellusSC;
}

.options{
    display: flexbox;
    flex-direction: row;
}

#librarian{
    margin-right: 20px;
    background-color: transparent;
    color: black;
    width: 150px;
    border-radius: 0 10px 0 10px;
}

#student{
    background-color: transparent;
    color: black;
    width: 150px;
    border-radius: 0 10px 0 10px;
    transition: 0.5s;
}

#librarian:hover{
    background-color: black;
    color: white;
}

#student:hover{
    background-color: black;
    color: white;
}

/* header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
} */

/* .input-box{
    width: 330px;
    box-sizing: border-box;
} */

/* .input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 10px 10px;
} */

/* .input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
} */

/* .submit {
    border: none;
    outline: none;
    height: 45px;
    background-attachment: #ececec;
} */

/* .signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a{
    text-decoration: none;
    font-weight: 700;
    color: #000000;
} */
